BusinessAgent.json
{"nodes":[{"parameters":{},"id":"workflow-trigger","name":"When Called By Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[0,460],"typeVersion":1},{"parameters":{"options":{"frequencyPenalty":0.1,"maxTokens":2000,"presencePenalty":0.1,"temperature":0.7,"topP":0.9}},"id":"openai-model","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[200,360],"typeVersion":1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.UserID }}_business"},"id":"memory","name":"Conversation Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[200,560],"typeVersion":1.3},{"parameters":{"tools":[{"name":"searchProducts","description":"Search for products in WooCommerce","operation":{"type":"woocommerce","resource":"product","operation":"getAll"}},{"name":"getSpecs","description":"Get product specifications","operation":{"type":"mssql","query":"SELECT * FROM specs WHERE product_id = {{$parameter.productId}}"}},{"name":"getDrawing","description":"Get technical drawing","operation":{"type":"mssql","query":"SELECT drawing_url FROM drawings WHERE product_id = {{$parameter.productId}}"}}],"promptType":"define","text":"={{ $json.TEXT }}","options":{"systemMessage":"You are a Technical Product Expert for The Tech Guys Doors and Gates company. Your tools:\n\n1. searchProducts: Search for products in WooCommerce\n2. getSpecs: Get product specifications\n3. getDrawing: Get technical drawings\n\nWhen helping customers:\n1. Search products first\n2. Get specs if needed\n3. Get drawings if relevant\n4. Provide complete info"}},"id":"business-ai","name":"Business Data AI Agent","type":"@n8n/n8n-nodes-langchain.agent","position":[400,460],"typeVersion":1.7},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"={{ $json.agentResponse }}"}]}},"id":"prepare-response","name":"Prepare Response","type":"n8n-nodes-base.set","position":[600,460],"typeVersion":1}],"connections":{"When Called By Another Workflow":{"main":[[{"node":"Business Data AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Business Data AI Agent","type":"ai_languageModel","index":0}]]},"Conversation Memory":{"ai_memory":[[{"node":"Business Data AI Agent","type":"ai_memory","index":0}]]},"Business Data AI Agent":{"main":[[{"node":"Prepare Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}